<div>
  <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #6A1B9A">
    <a href="#" class="navbar-brand" style="color: white"><img src="../assets/foodicon.png" alt="image" width="60" height="30">
      DELICIOUSLY YUM</a>
      &nbsp;
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="blogs" class="nav-link" style="color: white">BLOGS</a>
      </li>
      &nbsp;
      <li class="nav-item">
        <a routerLink="add" class="nav-link" style="color: white">ADD POST</a>
      </li>
    </div>
  </nav>
  
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>