<div>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a href="#" class="navbar-brand" style="color: white"><img src="../assets/foodicon3.png" alt="image" width="60" height="40">
      &NonBreakingSpace;
      DELICIOUSLY YUM</a>
      &nbsp;
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="blogs" class="nav-link" style="color: white">BLOGS</a>
      </li>
      &nbsp;
      <li class="nav-item">
        <a routerLink="add" class="nav-link" style="color: white">ADD POST</a>
      </li>
    </div>
  </nav>
  
  
  <div class="container mt-3">
    
    <router-outlet></router-outlet>
  </div>
  
  <footer class="bg-light text-center text-lg-start sticky-down">
    

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(15, 8, 8); color:azure;">
      © 2022 Copyright:
      <a class="text-light" href="https://mdbootstrap.com/">DeliciouslyYum.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>