/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Signika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');

html, body {
    min-height: 100%;
    color:azure;
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
label{
    color:azure;
    font-family: 'Merriweather', sans-serif;
    font-size:2ch;
}

