<div class ="list row justify-content-md-center">
    <div class="col-md-6">
      <div class="input-group">
        <input
          type="text"
          class="form-control rounded"
          placeholder="Search by title"
          aria-label="Search" aria-describedby="search-addon"
          [(ngModel)]="title"
        />
       &nbsp;
        <div class="input-group-append">
          <button
            class="btn btn-secondary"
            type="button"
            (click)="searchTitle()"
          >
          
            Search
          </button>
        </div>
      </div>
    </div>
    <div>
      <br>
      <div class="container">
      
        <div class="row card-deck" style="margin-left :15%;">
          <div class="card  mb-3 col  col-md-3" style="margin-right :2%;" id="ex" 
            
            *ngFor="let blog of blogs; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveBlog(blog, i)" routerLink="/blogs/{{blog.id}}">
          
            {{ blog.title }}
          </div>
        </div>

    <div>
      <app-blog-details
      
      [viewMode]="true"
      [currentBlog]="currentBlog"
      
      ></app-blog-details> 
    </div>
  </div>
